@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  min-height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  height: 100%;
  grid-row: 1 / 3;
  background-color: #1992d4;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.mdi-view-dashboard {
  font-size: 40px;
}

.dashboard-head {
  font-size: 30px;
}

.dashboard-links {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 40px;
  align-items: center;
  gap: 15px;
  margin: 20px 30px;
}

.sidebar-main-links {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  margin: 60px 40px;
}

.sidebar-second-links {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 60px 40px;
  gap: 20px;
}

.header {
  padding: 25px 50px 25px 50px;
  border-bottom: 1px solid #e2e8f0;
}

.header-first-row {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 50px;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.search input {
  border-radius: 15px;
  height: 30px;
  background-color: #e2e8f0;
  border: none;
  align-self: center;
}

.mdi-magnify {
  display: grid;
  align-items: center;
  font-size: 25px;
}

.account-info {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  justify-self: end;
  max-width: 300px;
  align-items: center;
}

.mdi-bell-ring-outline {
  font-size: 25px;
}

.account-info img {
  height: 50px;
  border-radius: 50%;
}

.account-info-name {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  align-items: center;
}

.header-second-row {
  display: grid;
  grid-template-columns: auto auto;
}

.account-greeting {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  justify-self: left;
}

.account-greeting img {
  justify-self: end;
  height: 80px;
  border-radius: 50%;
}

.account-greeting-msg {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-right: 100px;
  font-size: 20px;
  align-items: center;
}

.account-greeting-msg span:first-of-type {
  font-size: 15px;
}

.header-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 300px;
  align-items: center;
  justify-self: end;
  gap: 20px;
  margin-right: 20px;
}

.header-links button {
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 100px;
  color: white;
  background-color: #1992d4;
  font-weight: 500;
}

.main-content {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 0px 60px 20px 20px;
  background-color: #e2e8f0;
  box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.1),
    0 6px 20px 0 rgba(0, 0, 0, 0.1);
  column-gap: 10px;
}

.first-span {
  font-weight: 500;
  font-size: 20px;
  margin: 25px 0px;
  align-self: center;
  padding-left: 10px;
}

.projects {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  max-width: 95%;
  padding-left: 10px;
}

.card {
  border: 1px solid #e2e8f0;
  padding: 25px;
  display: grid;
  gap: 5px;
  border-radius: 10px;
  border-left-color: #f0b429;
  border-left-width: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.card-title {
  font-weight: 500;
  align-self: flex-end;
}

.card-text {
  color: gray;
  width: 100%;
}

.card-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-self: end;
  font-size: 25px;
}

.annoucements {
  display: grid;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 10px 10px;
}

.annoucement {
  display: grid;
  padding: 25px;
  align-items: center;
}

.annoucement-span {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  font-weight: 500;
  font-size: 20px;
  margin: 25px 0px;
}

.annoucements hr {
  width: 90%;
  background-color: #e2e8f0;
  height: 1px;
  border: none;
  margin: auto;
}

.annoucement-title {
  font-weight: 500;
}

.annoucement-text {
  color: gray;
}

.trending {
  display: grid;
  border: 1px solid lightgray;
  border-color: #e2e8f0;
  grid-column: 2 / 3;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  max-width: 100%;
}

.trending-span {
  align-self: center;
  font-weight: 500;
  font-size: 20px;
  margin: 25px 0px;
}

.trending-profile {
  display: grid;
  padding: 25px;
  grid-template-columns: 25% 75%;
  gap: 20px;
}

.trending-profile img {
  width: 60px;
  border-radius: 50%;
  align-self: center;
}

.trending-profile-span {
  display: grid;
  align-self: center;
  gap: 5px;
}

.trending-profile-span span:nth-child(2) {
  color: gray;
}
